/* MOBILE */
@media only screen and (max-width: 480px) {
  /* HEADER */
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-items: center;

    .photo-logo {
      width: 100%;
      justify-items: center;
    }
  }

  /* FOOTER */
  .footer-menu {
    .footer-container {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin: auto;
    }
  }
}
