@import "../base/font-size";
@import "../base/color";
/* CATÁLOGO */
/* SECTION CATALOGO */
.catalogo {
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 3rem 3rem 3rem 3rem;
  .tittle-catalogo {
    color: $color-title;
    font-size: nth($font-size, 4);
    justify-items: center;
    margin-bottom: 5rem;
    font-weight: bold;
    animation-duration: 2s;
    animation-name: title-mood;
  }
  .card-catalogo {
    transition: transform 2s;
    margin-bottom: 8rem;
  }
  .card-catalogo:hover {
    transform: scale(1.1);
  }

  .tittle-catalogo:hover {
    color: #93d2e8;
    font-style: italic;
  }
  .card-title-catalogo {
    font-size: nth($font-size, 2);
    color: $color-title;
    font-weight: bold;
  }
  .card-text-catalogo {
    font-size: nth($font-size, 1);
    font-family: "Noto Sans TC", sans-serif;
  }
  .btn {
    background-color: $bg-color-ppal;
    border-radius: 2rem;
    .cta-links {
      color: #fff;
      font-size: nth($font-size, 1);
      font-style: none;
    }
  }
}

/* FIN CATÁLOGO */
