@import "../base/font-size";
@import "../base/color";

/* CONTACTO */
/* SECTION FORM CONTACT */
.section-contact {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans TC", sans-serif;
  flex-direction: column;
  .tittle-contact {
    color: $color-title;
    font-size: nth($font-size, 4);
    font-weight: bold;
    animation-duration: 2s;
    animation-name: title-mood;
    align-content: center;
    align-content: flex-start;
  }
  .tittle-contact:hover {
    color: #93d2e8;
    font-style: italic;
  }
  /* SECTION FORM CONTACTO  */
  .form-contact {
    align-items: flex-start;
  }
  .form-label {
    font-size: nth($font-size, 1);
  }
  .btn {
    background-color: $bg-color-ppal;
    border-radius: 2rem;
    width: 7rem;
    height: 3rem;
    color: #fff;
    font-size: nth($font-size, 1);
  }
  /* FIN SECTION FORM CONTACT */

  /* SECTION MAP */
  .ubicacion {
    align-items: flex-end;
    margin-top: 3rem;
    .mapa-local {
      width: 125rem;
      height: 30rem;
    }
  }
}

/* FIN SECTION MAP */
