@import "../base/color";
@import "../base/font-size";
@import "../base/medidas";
/* HEADER */
.menu-container {
  width: 100%;
  display: flex;
  background-color: $bg-color-ppal;
  font-family: "Noto Sans TC", sans-serif;

  .photo-logo {
    width: 100%;
    justify-content: center;
    margin-right: 3rem;
  }

  .menu {
    display: flex;
    width: $width-pagina - 30%;
    margin: 0 auto;
    justify-content: space-around;
    font-size: nth($font-size, 1);
    transition: transform 1s;
    .item {
      text-decoration: none;
      color: #fff;
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}
/* FIN HEADER */
