@import "../base/color";
@import "../base/font-size";
@import "../base/medidas";
/* HEADER */
.menu-container {
  width: 100%;
  display: flex;
  background-color: $bg-color-ppal;
  font-family: "Noto Sans TC", sans-serif;

  .photo-logo {
    width: 70%;
  }
  .nav-link {
    text-decoration: none;
    font-size: 100%;
    color: #fff;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
/* FIN HEADER */
