@import "../base/font-size";
@import "../base/color";

/* PROYECTOS REALIZADOS */
/* SECTION PROYECTOS */
.blog {
  margin: 3rem 3rem 3rem 3rem;
  width: 100%;
  .cards-blog {
    .img-proyectos {
    }
    .card-title {
      font-size: nth($font-size, 2);
      color: $color-title;
      font-weight: bold;
      font-family: "Noto Sans TC", sans-serif;
    }
    .card-text {
      font-size: nth($font-size, 1);
      font-family: "Noto Sans TC", sans-serif;
    }
    .btn {
      background-color: $bg-color-ppal;
      border-radius: 2rem;
      .cta-links {
        color: #fff;
        font-size: nth($font-size, 1);
        font-style: none;
      }
    }
  }
}

/* FIN PROYECTOS REALIZADOS */
