@import "../base/font-size";
@import "../base/color";

/* CONTACTO */
/* SECTION BLOG */
.cards-blog {
  width: 100%;
  .btn {
    background-color: $bg-color-ppal;
    border-radius: 2rem;
    .cta-links {
      color: #fff;
      font-size: nth($font-size, 1);
      font-style: none;
    }
  }
}
